<a href="https://colab.research.google.com/github/LeonovaMarin/PhytonSeminars/blob/master/Sem2LeonovaHW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

##Условие 1: 1 задача##
- Скачать файл в уроке
- Считать данные с помощью pandas
- Вывести на экран первые 5 строк
- Посмотреть на описание признаков и на их содержание

In [13]:
df = pd.read_csv('/content/sample_data/kc_house_data.csv', sep=',')

In [14]:
df.head(n=10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [16]:
df = pd.read_csv('https://gbcdn.mrgcdn.ru/uploads/asset/5210863/attachment/132776001d3836d481073b7ce3c7d78d.csv', sep=',')

In [11]:
df.head(n=10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

##Условие 2: 2 задача##
- Проведите первичный анализ данных
- Изучите типы данных
- Найдите количество пропущенных ячеек в данных
- Посчитайте основные статистики по всем признакам и поизучайте их
- Пишите выводы

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [18]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [19]:
df.describe(include = ['object', 'float64'])

,date,price,bathrooms,floors,lat,long
count,21613,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000
unique,372,NaN,NaN,NaN,NaN,NaN
top,20140623T000000,NaN,NaN,NaN,NaN,NaN
freq,142,NaN,NaN,NaN,NaN,NaN
mean,NaN,5.400881e+05,2.114757,1.494309,47.560053,-122.213896
std,NaN,3.671272e+05,0.770163,0.539989,0.138564,0.140828
min,NaN,7.500000e+04,0.000000,1.000000,47.155900,-122.519000
25%,NaN,3.219500e+05,1.750000,1.000000,47.471000,-122.328000
50%,NaN,4.500000e+05,2.250000,1.500000,47.571800,-122.230000
75%,NaN,6.450000e+05,2.500000,2.000000,47.678000,-122.125000
max,NaN,7.700000e+06,8.000000,3.500000,47.777600,-121.315000

In [24]:
df.isnull(), df.sum()

(          id   date  price  bedrooms  bathrooms  sqft_living  sqft_lot  \
 0      False  False  False     False      False        False     False
 1      False  False  False     False      False        False     False
 2      False  False  False     False      False        False     False
 3      False  False  False     False      False        False     False
 4      False  False  False     False      False        False     False
 ...      ...    ...    ...       ...        ...          ...       ...
 21608  False  False  False     False      False        False     False
 21609  False  False  False     False      False        False     False
 21610  False  False  False     False      False        False     False
 21611  False  False  False     False      False        False     False
 21612  False  False  False     False      False        False     False

        floors  waterfront   view  ...  grade  sqft_above  sqft_basement  \
 0       False       False  False  ...  False       False          False
 1       False       False  False  ...  False       False          False
 2       False       False  False  ...  False       False          False
 3       False       False  False  ...  False       False          False
 4       False       False  False  ...  False       False          False
 ...       ...         ...    ...  ...    ...         ...            ...
 21608   False       False  False  ...  False       False          False
 21609   False       False  False  ...  False       False          False
 21610   False       False  False  ...  False       False          False
 21611   False       False  False  ...  False       False          False
 21612   False       False  False  ...  False       False          False

        yr_built  yr_renovated  zipcode    lat   long  sqft_living15  \
 0         False         False    False  False  False          False
 1         False         False    False  False  False          False
 2         False         False    False  False  False          False
 3         False         False    False  False  False          False
 4         False         False    False  False  False          False
 ...         ...           ...      ...    ...    ...            ...
 21608     False         False    False  False  False          False
 21609     False         False    False  False  False          False
 21610     False         False    False  False  False          False
 21611     False         False    False  False  False          False
 21612     False         False    False  False  False          False

        sqft_lot15
 0           False
 1           False
 2           False
 3           False
 4           False
 ...           ...
 21608       False
 21609       False
 21610       False
 21611       False
 21612       False

 [21613 rows x 21 columns],
 id                                                  98994056770455
 date             20141013T00000020141209T00000020150225T0000002...
 price                                                11672925008.0
 bedrooms                                                     72854
 bathrooms                                                 45706.25
 sqft_living                                               44952873
 sqft_lot                                                 326506890
 floors                                                     32296.5
 waterfront                                                     163
 view                                                          5064
 condition                                                    73688
 grade                                                       165488
 sqft_above                                                38652488
 sqft_basement                                              6300385
 yr_built                                                  42599334
 yr_renovated                                               1824186
 zipcode                                                 2119758513
 lat                                                   1027915.4151
 long                                                  -2641408.943
 sqft_living15                                             42935359
 sqft_lot15                                               275964632
 dtype: object)

##Условие 3: 3 задача##
- Ответьте на несколько вопросов

###3.1 В каком диапазоне изменяются стоимости недвижимости?###

In [26]:
df['price'].max(), df['price'].min()

(7700000.0, 75000.0)

###3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?###

In [32]:
x = df['sqft_living'].mean()
x

2079.8997362698374

In [33]:
y = df['sqft_lot'].mean()
y

15106.967565816869

In [37]:
z = (x / y) * 100
z

13.76781757959227

###3.3 Как много домов с разными этажами в данных?###

In [41]:
df['floors'].value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

###3.4 Насколько хорошие состояния у домов в данных?###

In [43]:
df['condition'].value_counts()

3    14031
4     5679
5     1701
2      172
1       30
Name: condition, dtype: int64

###3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?###

In [44]:
df['yr_built'].sort_values()

4697     1900
2961     1900
12369    1900
15016    1900
5236     1900
         ...
21270    2015
17098    2015
7526     2015
20086    2015
14489    2015
Name: yr_built, Length: 21613, dtype: int64

In [46]:
df.sort_values('yr_built').iloc[0]

id                    9126101645
date             20140610T000000
price                   558000.0
bedrooms                       4
bathrooms                    2.0
sqft_living                 2180
sqft_lot                    3870
floors                       1.0
waterfront                     0
view                           0
condition                      3
grade                          7
sqft_above                  1020
sqft_basement               1160
yr_built                    1900
yr_renovated                   0
zipcode                    98122
lat                      47.6089
long                    -122.303
sqft_living15               1520
sqft_lot15                  2580
Name: 4697, dtype: object

In [47]:
df.sort_values('yr_built', ascending=False).iloc[0]

id                     923059259
date             20150401T000000
price                   455950.0
bedrooms                       4
bathrooms                    2.5
sqft_living                 2720
sqft_lot                    5771
floors                       2.0
waterfront                     0
view                           0
condition                      3
grade                          8
sqft_above                  2720
sqft_basement                  0
yr_built                    2015
yr_renovated                   0
zipcode                    98056
lat                      47.4917
long                     -122.17
sqft_living15               1940
sqft_lot15                  4184
Name: 21369, dtype: object

In [48]:
df['yr_built'].max(), df['yr_built'].min()

(2015, 1900)

##Условие 4: 4 задача##
- Ответьте на несколько вопросов

###4.1 Сколько в среднем стоят дома, у которых 2 спальни?###

In [61]:
df[df['bedrooms'] == 2]['price'].mean()

401372.681884058

###4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?###

In [63]:
df[df['price']  > 600000]['sqft_lot'].mean()

20442.524776214832

###4.3 Как много домов коснулся ремонт?###

In [69]:
df[(df['yr_renovated'] != 0)].shape[0]

914

###4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?###

In [71]:
x = df[df['grade']  > 10]['price'].mean()
x

1678635.1175298805

In [72]:
y = df[df['grade']  < 4]['price'].mean()
y

189750.0

In [74]:
z = x - y
z

1488885.1175298805

##Условие 5: 5 задача##
Ответьте на несколько вопросов
###5.1 Выберите дом клиенту Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?###

In [92]:
df[(df['waterfront'] == 1) & (df['bathrooms'] > 3) & (df['sqft_basement'] != 0)].shape[0]

36

###5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?###

In [107]:
x = ((df['view'] == 4) | (df['waterfront'] == 1) & (df['yr_built'] >= 1980) & (df['condition'] == 5))
client_choice = df[x]
client_choice['price'].min(), client_choice['price'].max()

(252000.0, 6885000.0)

###5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?###

In [110]:
x = ((df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price'] < 150000))
client_choice = df[x]
client_choice['condition'].median()

3.0